* {
  box-sizing: border-box;
}

body {

 background-image: linear-gradient(to right, #87a5bd ,#ffffff);

    /* background-repeat: no-repeat; */
}

.App {
width: 90%;
    height: 90vh;
    margin: 40px auto 0px auto;
    text-align: center;
    background-image: url('imgs/layer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px rgb(0 0 0 / 20%);
    padding: 25px 80px;
  
}

.header {
  display: flex;
  width: 100%;
}

.logo {
  width: 100px;
  height: auto;
}

.logo > img {
  width: 100%;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
